In [ ]:
import pandas as pd

# Задание 1

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
# считаем вхождения по рейтингу 5.0

data['rating'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: rating, dtype: int64

In [ ]:
# сортировка по убыванию

data.sort_values('rating', ascending=False, inplace=True)

In [ ]:
# отсекаем лишнее

data_1=data.iloc[0:13211, 1:3]

In [ ]:
data_1

       movieId  rating
34031     3147     5.0
50717     1080     5.0
18166      487     5.0
18165      480     5.0
76157     3308     5.0
...        ...     ...
339        593     5.0
9222      1223     5.0
6911       454     5.0
6881       110     5.0
70360   132333     5.0

[13211 rows x 2 columns]

In [ ]:
# присоединяем название фильма
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
joined = data_1.merge(movies, on='movieId', how='left')
joined.head()

,movieId,rating,title,genres
0,3147,5.0,"Green Mile, The (1999)",Crime|Drama
1,1080,5.0,Monty Python's Life of Brian (1979),Comedy
2,487,5.0,Lightning Jack (1994),Comedy|Western
3,480,5.0,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
4,3308,5.0,"Flamingo Kid, The (1984)",Comedy|Drama

In [ ]:
# считаем вхождения по фильмам

joined['movieId'].value_counts()

318       153
296       123
356       116
2571      109
260       104
         ...
2069        1
175293      1
174551      1
173963      1
132333      1
Name: movieId, Length: 2954, dtype: int64

In [ ]:
# название лучшего фильма

best_film=joined[joined['movieId'] == 318]
best_film.head(1)

    movieId  rating                             title       genres
33      318     5.0  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
data = pd.read_csv('power.csv')
data.head(1)

   country  year  quantity  category
0  Austria  1996       5.0         1

In [ ]:
# находим страны
filtered_countries = data.loc[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]
filtered_countries.head(1)

       country  year  quantity  category
373  Lithuania  2014      39.0         1

In [ ]:
filtered_countries['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [ ]:
filtered_countries['year'].unique()

array([2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004,
       2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993,
       1992])

In [ ]:
# задаем года, убираем отрицательные значения
yeas_countries=filtered_countries[(filtered_countries['year']>=2005)&(filtered_countries['year']<=2010)&(filtered_countries['quantity']>0)]
yeas_countries.head(1)

       country  year  quantity  category
377  Lithuania  2010     158.0         1

In [ ]:
yeas_countries['year'].unique()

array([2010, 2009, 2008, 2007, 2005, 2006])

In [ ]:
# задаём нужные категории
category_yeas_countries=yeas_countries[yeas_countries.category.isin([4,12,21])]
category_yeas_countries.head(1)

       country  year  quantity  category
10617  Estonia  2008       1.0         4

In [ ]:
category_yeas_countries['category'].unique()

array([ 4, 12, 21])

In [ ]:
# считаем сумму
res_sum=category_yeas_countries['quantity'].sum()
print('Суммарное потребление по заданным условиям: ', res_sum)

Суммарное потребление по заданным условиям:  240580.0

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [ ]:
import requests

In [ ]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

In [ ]:
# запрос разрешения у сервера на сбор информации
page = requests.get(page_url)
print(page)

<Response [200]>

In [ ]:
import bs4

In [ ]:
source = requests.get(page_url).text

In [ ]:
soup = bs4.BeautifulSoup(source, 'lxml')

In [ ]:
# выбираем таблицу с нужным классом (см.в коде сайта)
table = soup.select_one('.quote_list')

In [ ]:
pandas_table = pd.read_html(str(table))
pandas_table = pandas_table[0]

In [ ]:
pandas_table.head(1)

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,691151,-,690547,"0,09%",00604,17.09.2022

In [ ]:
pandas_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   Рубль                36 non-null     object
 2   Предложение          36 non-null     object
 3   Спрос                36 non-null     object
 4   Предыдущее закрытие  36 non-null     object
 5   %                    36 non-null     object
 6   Абсолютное значение  36 non-null     object
 7   Время                36 non-null     object
dtypes: float64(1), object(7)
memory usage: 2.4+ KB

In [ ]:
pandas_table.drop('Unnamed: 0', inplace=True, axis=1)

In [ ]:
pandas_table

,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,GBP/RUB,691151,-,690547,"0,09%",00604,17.09.2022
1,EUR/RUB,606059,-,596041,"1,68%",10018,17.09.2022
2,USD/RUB,605000,-,605000,"0,00%",-00001,17.09.2022
3,JPY/RUB,04232,-,04233,"-0,01%",-00001,17.09.2022
4,CNY/RUB,86628,-,86629,"0,00%",-00001,17.09.2022
5,CHF/RUB,626751,-,626748,"0,00%",00003,17.09.2022
6,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,EUR/USD,10018,-,09997,"0,21%",00021,17.09.2022
8,EUR/GBP,08773,-,08770,"0,03%",00003,17.09.2022
9,EUR/JPY,1439865,-,1431845,"0,56%",08020,17.09.2022
10,EUR/CHF,09662,-,09633,"0,30%",00029,17.09.2022
11,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,USD/EUR,09983,-,09983,"0,00%",00000,17.09.2022
13,USD/GBP,08754,-,08761,"-0,09%",-00008,17.09.2022
14,USD/JPY,1429555,-,1429255,"0,02%",00300,17.09.2022
15,USD/CHF,09653,-,09653,"0,00%",00000,17.09.2022
16,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,JPY/EUR (100:1),07000,-,07000,"-0,02%",00000,17.09.2022
18,JPY/GBP,00061,-,00061,"-0,10%",00000,17.09.2022
19,JPY/USD,00070,-,00070,"-0,02%",00000,17.09.2022
20,JPY/CHF (100:1),06800,-,06800,"-0,01%",00000,17.09.2022
21,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,GBP/USD,11424,-,11414,"0,09%",00010,17.09.2022
23,GBP/JPY,1633128,-,1631460,"0,10%",01668,17.09.2022
24,GBP/EUR,11406,-,11394,"0,10%",00012,17.09.2022
25,GBP/CHF,11029,-,11012,"0,15%",00017,17.09.2022
26,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,GBP/CHF,11029,-,11012,"0,15%",00017,17.09.2022
28,EUR/CHF,09662,-,09633,"0,30%",00029,17.09.2022
29,JPY/CHF (100:1),06800,-,06800,"-0,01%",00000,17.09.2022
30,USD/CHF,09653,-,09653,"0,00%",00000,17.09.2022
31,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,EUR/UAH,370060,-,369145,"0,25%",00916,17.09.2022
33,USD/UAH,369413,-,368500,"0,25%",00914,17.09.2022
34,CHF/UAH,382695,-,381746,"0,25%",00949,17.09.2022
35,GBP/UAH,422018,-,420605,"0,34%",01412,17.09.2022