# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
 оценка 2 и меньше - низкий рейтинг
 оценка 4 и меньше - средний рейтинг
 оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('ratings.csv')
data.head(1)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [ ]:
movies = pd.read_csv('movies.csv')
movies.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [ ]:
# объединяем рейтинг и название
joined = data.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [ ]:
# группируем по фильмам с подсчётом среднего рейтинга
joined.groupby('movieId').mean().round(1).reset_index()

      movieId  userId  rating     timestamp
0           1   338.6     3.9  1.103116e+09
1           2   318.9     3.4  1.069321e+09
2           3   374.4     3.2  9.662429e+08
3           4   355.5     2.4  9.277797e+08
4           5   320.8     3.3  9.967201e+08
...       ...     ...     ...           ...
9061   161944   287.0     5.0  1.470168e+09
9062   162376    73.0     4.5  1.474256e+09
9063   162542   611.0     5.0  1.471521e+09
9064   162672   611.0     3.0  1.471524e+09
9065   163949   547.0     5.0  1.476419e+09

[9066 rows x 4 columns]

In [ ]:
def class_(row):
    """классифицируем фильмы по рейтингу"""
    if row <= 2.0:
      return('Низкий рейтинг')
    elif row > 2.0 and row <= 4.0:
      return('Средний рейтинг')
    elif row == 4.5 or row == 5.0:
      return('Высокий рейтинг')

In [ ]:
# применяем метод apply к одному столбцу с созданием нового столбца
joined['class_'] = joined['rating'].apply(class_)
joined

,userId,movieId,rating,timestamp,title,genres,class_
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,Средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,Средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,Средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,Низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,Средний рейтинг
...,...,...,...,...,...,...,...
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance,Средний рейтинг
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary,Средний рейтинг
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX,Средний рейтинг
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama,Средний рейтинг
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama,Средний рейтинг

# Задание 2

Используем файл keywords.csv. Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’. Правила распределения по регионам Центр, Северо-Запад и Дальний Восток: 1 2 3 4 5 6 7 8 9 geo_data = { 'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] } Результат классификации запишите в отдельный столбец region.

In [ ]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }

In [ ]:
geo_data.keys()

dict_keys(['Центр', 'Северо-Запад', 'Дальний Восток'])

In [ ]:
geo_data.values()

dict_values([['москва', 'тула', 'ярославль'], ['петербург', 'псков', 'мурманск'], ['владивосток', 'сахалин', 'хабаровск']])

In [ ]:
data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
def contains_word(s, w):
  """проверяем наличие слова"""
  return f' {w} ' in f' {s} '

In [ ]:
def geo_class(row):
  """проверка с возвращением ключа"""
  for key, value in geo_data.items():
       for key, value in geo_data.items():
            for i in range(len(value)):

                if contains_word(row, value[i]) == True:

                    return(key)
  return('undefined')

In [ ]:
data['region'] = data['keyword'].apply(geo_class)
data

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [ ]:
# проверка

data.groupby('region').count()[['keyword']].head()

                keyword
region
undefined         99406
Дальний Восток       64
Северо-Запад        146
Центр               384

# Задание 3

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже. При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму: В переменную years запишите список из всех годов с 1950 по 2010. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм: для каждой строки пройдите по всем годам списка years если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’ Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [ ]:
years=list(range(1950,2011))

In [ ]:
print(years)

[1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

In [ ]:
def production_year(row):
  """выставляем год выпуска каждорй строке из названия фильма"""
  try:
        film_year = int(row[row.find('(')+1:row.find(')')])
        result = film_year
        if film_year not in years:
            result = 1900
        return result
  except:
        result = 1900
        return result

In [ ]:
# используем объединенный датафрейм из 1-го задания
joined['year'] = joined['title'].apply(production_year)
joined

,userId,movieId,rating,timestamp,title,genres,class_,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,Средний рейтинг,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,Средний рейтинг,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,Средний рейтинг,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,Низкий рейтинг,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,Средний рейтинг,1900
...,...,...,...,...,...,...,...,...
99999,671,6268,2.5,1065579370,Raising Victor Vargas (2002),Comedy|Drama|Romance,Средний рейтинг,2002
100000,671,6269,4.0,1065149201,Stevie (2002),Documentary,Средний рейтинг,2002
100001,671,6365,4.0,1070940363,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX,Средний рейтинг,2003
100002,671,6385,2.5,1070979663,Whale Rider (2002),Drama,Средний рейтинг,2002
100003,671,6565,3.5,1074784724,Seabiscuit (2003),Drama,Средний рейтинг,2003

In [ ]:
joined['year'].unique()

array([1995, 1900, 1996, 1981, 1978, 1959, 1982, 1991, 1979, 1971, 1980,
       1988, 1998, 1986, 1974, 1994, 1993, 1990, 1992, 1989, 1970, 1987,
       1983, 1997, 1999, 2000, 2002, 2003, 2004, 2006, 2008, 2009, 1977,
       1972, 1958, 1950, 1964, 1951, 1975, 1960, 1984, 1985, 1962, 1976,
       1967, 1955, 1953, 1973, 1965, 2001, 2005, 1957, 1968, 2007, 2010,
       1952, 1954, 1963, 1969, 1956, 1961, 1966])

In [ ]:
# средний рейтинг по годам + сортировка

joined.groupby(['year']).mean().round(1).sort_values('rating', ascending=False).head(100)

      userId  movieId  rating     timestamp
year
1972   367.9   2926.9     4.0  1.107263e+09
1951   346.4   2468.7     4.0  1.047898e+09
1952   348.2   4042.1     4.0  1.088396e+09
1957   370.6   2598.1     4.0  1.074287e+09
1974   355.1   3423.1     4.0  1.107904e+09
...      ...      ...     ...           ...
2002   338.5   6075.3     3.4  1.203263e+09
1990   344.2   2596.1     3.4  1.072154e+09
2005   348.5  37047.6     3.4  1.273318e+09
1997   359.1   1913.1     3.4  1.081213e+09
2000   342.8   4211.2     3.3  1.143507e+09

[62 rows x 4 columns]